{% extends "website/base.html" %}

{% block titleblock %}Home{% endblock %}

{% block header_ext %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">The Unofficial Elder Scrolls Mud!</h1>

                <hr />

                <p class="lead">
                    Welcome to the UESM. Set ten years after the Oblivion Crisis of 3E433, the
                    year is 4E10 the reign on the Septim dynasty has ended as the state of Tamriel lays in complete
                    disarry recovering from the carnage of Dagon's forces.
                </p>
                <p>
                    The world of Mundus is large and there is much work to be done. This is a personal project of mine,
                    as I am a huge
                    fan of the Elder Scrolls and sad to see that it hasn't been created yet. This is an undertaking that
                    I have had on the back
                    of my mind for over a decade now. The game rules is based of a slightly modified version of <a
                        href='https://1d4chan.org/wiki/Unofficial_Elder_Scrolls_RPG'>Unofficial Elder Scrolls Role
                        Playing Game 3e</a>
                </p>
                <p>
                    The status of the game is in <b>pre-alpha</b> and designed to resemble a playing style similiar to
                    Diku and ROM muds. The code is <a href="https://github.com/duysqubix/scrolls">open-source</a>> for
                    those who would like contribute to the code. Click here to see the current roadmap of the project.
                </p>
                {% if webclient_enabled %}
                <p>
                    You can also connect to the game directly from your browser using our
                    <a href="{% url 'webclient:index' %}">online client</a>!<br>
                </p>
                {% endif %}
                <p>
                    Should you have any questions, concerns, bug reports, or
                    if you want to help out, don't hesitate to join the Evennia community to make your voice heard! Drop
                    a mail to the
                    <a href="https://groups.google.com/forum/#!forum/evennia">mailing list</a> or to come say hi in the
                    <a href="http://webchat.freenode.net/?channels=evennia">developer chatroom</a>.
                </p>
                <p>
                    If you find bugs, please report them to our <a
                        href="https://github.com/evennia/evennia/issues">Issue tracker</a>.
                </p>
            </div>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-12 col-md-6 mb-2">
        <div class="card">
            <h4 class="card-header text-center">Accounts</h4>

            <div class="card-body">
                <p>
                    There's currently <strong>{{num_accounts_connected}}</strong> connected out of a total of
                    <strong>{{num_accounts_registered}}</strong> account{{num_accounts_registered|pluralize}}
                    registered.
                </p>
                <p>
                    Of these, <strong>{{num_accounts_registered_recent}}</strong> were created this week, and
                    <strong>{{num_accounts_connected_recent}}</strong> have connected within the last seven days.
                </p>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 mb-2">
        <div class="card">
            <h4 class="card-header text-center">Recently Connected</h4>

            <div class="card-body px-0 py-0">
                <ul class="list-group">
                    {% for account in accounts_connected_recent %}
                    <li class="list-group-item">{{account.username}}&mdash;<em>{{account.last_login|timesince}} ago</em>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <p>Made possible with the <a href="http://evennia.com">Evennia</a>
                    <a href="http://python.org"> framework.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}