*.pyc
*.pid
*.db3
*.log
server/logs/lockwarnings.log.1

server/logs/portal.log.2020_11_30
server/logs/server.log.2020_11_24
server/logs/server.log.2020_11_25
resources/json/rooms.json
resources/json/zones.json
resources/json/objs.json
